name: 02 - Checkout Repository

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  checkout-demo:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Show repository files
        run: ls -la

      - name: Show current directory
        run: pwd